[Unit]
Description=Apache Kafka Connect
# After=network.target redpanda.service

[Service]
Type=simple
User=kafka
Group=kafka
Environment="KAFKA_JMX_OPTS=-Dcom.sun.management.jmxremote -Dcom.sun.management.jmxremote.port=10040 -Dcom.sun.management.jmxremote.local.only=true -Dcom.sun.management.jmxremote.authenticate=false"
# Environment="LOG_DIR=/var/log/kafka"
# Uncomment the following line to enable authentication for the kafka connect
# Environment="KAFKA_OPTS=-Djava.security.auth.login.config=/etc/kafka/kafka_connect_jaas.conf"
ExecStart=/opt/kafka/bin/connect-distributed.sh /opt/kafka/config/connect-distributed.properties

[Install]
WantedBy=multi-user.target